modules = ["python-3.12", "web", "nodejs-20", "nix"]

[run]
command = "python3 run.py"

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "libxcrypt", "mupdf", "openjpeg", "pkg-config", "qhull", "swig", "tcl", "tk", "xcbuild"]

[deployment]
build = ["pip", "install", "-r", "requirements.txt"]
run = ["python3", "backend/app.py"]

[env]
REPL_DEPLOYMENT = "true"
PYTHONUNBUFFERED = "1"
SESSION_SECRET = "sensai-feedback-chatbot-session-2026"

[[ports]]
localPort = 80
externalPort = 80
exposeLocalhost = true
